

<h2>Dashboard</h2>
<h3>Recursos</h3>


<div class="container">

    <h3>Adicionar Recurso</h3>

    <div class="card" id="formulario">
        <form action="/recursos/adicionar" method="POST">
            <input type="text" name="nome" placeholder="Nome" class="form-control" required >
            <br>
            <input type="text" name="tipo" placeholder="Tipo" class="form-control" required>
            <br>
            <input type="number" name="quantidade" placeholder="Quantidade" class="form-control" required>
            <br>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
    </div>

    <div>

        <h2>Dashboard</h2>
        <h3>Recursos</h3>

    <!-- Caixa de Mensagem de Sucesso -->
        <% if (successMessage) { %>
            <div class="flash-message" id="flash-message">
                <%= successMessage %>
            </div>
        <% } %>

        <ul>
            <% recursos.forEach(recurso => { %>
                <li>
                    <%= recurso.nome %> - <%= recurso.tipo %> - <%= recurso.quantidade %>
                    <a href="/recursos/editar/<%= recurso.id %>">Editar</a>
                    <form action="/recursos/deletar/<%= recurso.id %>" method="POST" class="form-control" style="display: inline;" onsubmit="return confirm('Tem certeza que deseja deletar este recurso?');">
                        <button type="submit" class="btn btn-primary">Deletar</button>
                    </form>
                </li>
            <% }) %>
        </ul>

    </div>
    

</div>

