<% if (typeof isHome === 'undefined') { isHome = false; } %>

<%- include('partials/header') %> <!-- Incluindo o cabeçalho -->

<div class="container">
    <% if (typeof successMessage !== 'undefined' && successMessage.length) { %>
        <div class="alert alert-success"><%= successMessage %></div>
    <% } %>

    <% if (typeof errorMessage !== 'undefined' && errorMessage.length) { %> 
        <div class="alert alert-danger"><%= errorMessage %></div>
    <% } %>
     
    <%- body %> 
</div>

<%- include('partials/footer') %>
