<%- include('partials/header') %> <!-- Incluindo o cabeçalho -->


    <div class="container">

        <% if (successMessage.length) { %>
            <div class="alert alert-success"><%= successMessage %></div>
        <% } %>
        
        <% if (errorMessage.length) { %> 
            <div class="alert alert-danger"><%= errorMessage %></div>
        <% } %>
         
        <%- body %> 
 
    </div>


<%- include('partials/footer') %> <!-- Rodapé -->

